Add longitude and latitude for Tableau map, link: https://public.tableau.com/app/profile/yoshie.hara/viz/Project4_16992384309060/Story1

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('easy_visa_cleaned_NoOutliers.csv')

In [3]:
df['region_of_employment'].value_counts()

region_of_employment
South        5006
Northeast    4994
West         4869
Midwest      3292
Island        269
Name: count, dtype: int64

In [4]:
region_coordinates = {
    "Midwest": (42.0323, -93.5817),
    "West": (37.7749, -122.4194),
    "Northeast": (40.7128, -74.0060),
    "South": (32.7767, -96.7970),
    "Island": (21.3156, -157.8580)
}

In [5]:
df["latitude"] = df["region_of_employment"].map(lambda region: region_coordinates.get(region)[0])
df["longitude"] = df["region_of_employment"].map(lambda region: region_coordinates.get(region)[1])

In [6]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,latitude,longitude
0,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.65,Year,Y,Certified,40.7128,-74.0060
1,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.39,Year,Y,Certified,32.7767,-96.7970
2,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.14,Year,Y,Certified,32.7767,-96.7970
3,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.39,Year,Y,Certified,32.7767,-96.7970
4,EZYV09,Asia,Bachelor's,N,N,4810,2012,Midwest,74362.19,Year,Y,Certified,42.0323,-93.5817

In [7]:
df.to_csv('map.csv', index=False)